{% extends "base.html" %}

{% block content %}
<h1>Shelf Details: Shelf #{{ shelf.shelf_number }}</h1>
<hr>

<div>
    <div>
        Shelf Information
    </div>
    <div>
        <p>
            <strong>ID:</strong> {{ shelf.id }} <br>
            <strong>Shelf Number:</strong> {{ shelf.shelf_number }} <br>
            <strong>Dimensions (LxDxH):</strong> {{ shelf.length }} x {{ shelf.depth }} x {{ shelf.height }} <br>
            <strong>Max Weight:</strong> {{ shelf.max_weight }} <br>
        </p>
        <p>
             <strong>Shelf Unit:</strong>
             {% if shelf.shelf_unit %}
                 <a href="{{ url_for('shelfUnits.read', id=shelf.shelf_unit.id) }}">Unit #{{ shelf.shelf_unit.shelf_unit_number }}</a> (ID: {{ shelf.shelf_unit_id }})
             {% else %}
                 N/A
             {% endif %}
        </p>
    </div>
</div>

<div>
    <a href="{{ url_for('.update', id=shelf.id) }}">Edit</a>
    <a href="{{ url_for('.delete', id=shelf.id) }}">Delete</a>
    <a href="{{ url_for('.read_all') }}">Back to List</a>
</div>
{% endblock %}