{% extends "base.html" %}

{% block content %}
<h1>Create Placed Product</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.shelf_id.label }} <br>
        {{ form.shelf_id() }} <br>
        {% for error in form.shelf_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.product_id.label }} <br>
        {{ form.product_id() }} <br>
        {% for error in form.product_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.planogram_id.label }} <br>
        {{ form.planogram_id() }} <br>
        {% for error in form.planogram_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.position.label }} <br>
        {{ form.position() }} <br>
        {% for error in form.position.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}